body
{
	background-color: #222222;
}

#List
{
	font-family: verdana;
    	font-size: 200%;
	top: 0px;
	right: 0px;
	width:0px;
	bottom:-2px;
	position: absolute;
	background-color: #880000;
	padding-left:320px ;	
}

#Header
{
	font-family: verdana;
    	font-size: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #333333;
	text-align : Center;
	color: #bbbbbb;
}

#Left
{
	position:absolute;
	height:100%;
	width:50%;
	left:0%;
}

#Right
{
	position:absolute;
	height:100%;
	width:50%;
	right:0%;
}

form
{
	color: #bbbbbb;
	font-family: verdana;
}

#table{
	width:100%;
	color: #bbbbbb;
	font-family: verdana;
	border: 1px solid black;
	border-collapse:collapse;
}

#table th
{
	border: 1px solid black;
	border-collapse:collapse;
	padding: 15px;
}

#table td
{
	border: 1px solid black;
	padding: 15px;
	border-collapse:collapse;
}

#table tr:nth-child(even) 
{
    	background-color: #2a2a2a;
}

#table tr:nth-child(odd) 
{
    	background-color: #222222;
}

#table th 
{
    	color: #bbbbbb;
    	background-color:#333333;
}

ul
{
    	list-style-type: none;
    	margin: 0;
    	padding:0px;
	width:300px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom:0%;
    	background-color: #2a2a2a;
}

li 
{
    	display: block;
    	color: #bbbbbb;
    	text-align: left;
	font-size: 90%;
    	text-decoration: none;
	padding-bottom:30px ;
	padding-right: 20px;
	padding-left: 10px;
}

li a
{
	font-size: 80%;
    	display: block;
    	color: #888888;
    	text-align: left;
    	text-decoration: none;
}

li a:hover 
{
    	background-color: #111111;
}
