*{
	 margin: 0;
	 padding: 0;
}

.navmenu {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #55d6aa;
	height: 70px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding-top: 10px;
	height: 50px;
}

nav {
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav a {
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

h1, h2, p, li {
	color: #555;
	center: middle;
}

h3 {
	text-align: center;
}

a {
	color: green;
}

p {
	background: #666;
	color: white;
	padding: 10px 10px 0px 0px;
}

.login-page {
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input {
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border box;
	font-size: 14px;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.fill {
	background-image: url(handsome.png);
	position: relative;
	height: 281px;
	width: 263px;
	left: 5px;
	cursor: pointer;
}

.empty {
	display: inline-block;
	height: 291px;
	width: 273px;
	margin: 10px;
	border: 3px salmon solid;
	background-color: white;
}

.hold {
	border: solid #ccc 4px;
}

.hover {
	background: #f4f4f4;
	border-style: dashed;
}

.invisible {
	display: none;
}







